@model CreateGroupVM
@{
    ViewData["Title"] = "Create";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Group</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data" id="groupForm">

            <div class="row">
                <div class="col-12">
                    <div class="border p-3 mt-4">
                        @*<div asp-validation-summary="ModelOnly"></div>*@
                        <div class="form-floating py-2 col-12">
                            <input asp-for="GroupName" class="form-control border-0 shadow" maxlength="15"/>
                            <label asp-for="GroupName" class="ms-2"></label>
                            <span asp-validation-for="GroupName" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="text" class="form-control border-0 shadow" id="phoneNumber" maxlength="16"/>
                            <label class="ms-2">Phone Number</label>

                            <button type="button" class="btn btn-primary mt-2" id="addNumberButton">Add User</button>
                        </div>
                        
                        <div class="overflow-auto border" style="height: 336px;">
                            <ul class="list-group mb-4 mt-2" id="numberList">
                                <input asp-for="PhoneNumbers" value="@Html.Raw(Json.Serialize(Model.PhoneNumbers))" id="numbers" hidden/>

                                @* Phone numbers will be displayed like this
                                   <li class="list-group-item border-0 border-bottom"><span class="text-black-50">@String.Format("{0:(###) ###-####}", number)</span></li>
                                *@
                            </ul>
                        </div>
                        

                        <div class="row mt-2">
                            <div class="col-6 col-md-3">
                                <button class="btn btn-primary form-control" id="createButton">Create</button>   
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-area="UserHome" asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary border form-control">
                                    Back to Home
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
                
            </div>

        </form>
    </div>
</div>

@section Scripts{

        <script src="~/js/createGroup.js"></script>
}