@{
    ViewData["Title"] = "Home Page";
}

<div class="top-50 start-50 position-fixed" style="height:200px; width:400px; margin-left:-100px; margin-top:-200px;">
    <h1 class="text-lg-center">GET CHATTING!</h1>
</div>
