@{
    ViewData["Title"] = "Home Page";
}


<div class="container" style="margin-left: -75px;">
    <div class="nav bg-dark text-white row position-fixed w-100" style="z-index:1; top:0;">
        <img src="https://placehold.co/500x500/png" class="col-2 m-2 me-0" style="width:6%; border-radius:50%;"/>
        <div class="col-10 m-1 ms-0">
            <h1 class="mb-0">CHAT</h1>
            <span class="mb-2">Chatter1, Chatter2</span>
        </div>
        
    </div>

    <div class="d-flex flex-column position-relative mb-5" style="margin-top:75px;">
        <div class="row align-items-center justify-content-start">
            <div class="chat col-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Et ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Elit ut aliquam purus sit amet luctus venenatis lectus. Tincidunt vitae semper quis lectus nulla at.
               
                <span class="row form-floating me-3 text-black-50 justify-content-end">3:00PM</span>
            </div>
        </div>
        
        <div class="row align-items-center justify-content-start flex-row-reverse">
            <div class="chat col-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Et ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Elit ut aliquam purus sit amet luctus venenatis lectus. Tincidunt vitae semper quis lectus nulla at.
            
                <span class="row form-floating me-3 text-black-50 justify-content-end">3:00PM</span>
            </div>

        </div>

        <div class="row align-items-center justify-content-start flex-row-reverse">
            <div class="chat col-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Et ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Elit ut aliquam purus sit amet luctus venenatis lectus. Tincidunt vitae semper quis lectus nulla at.
            
                <span class="row form-floating me-3 text-black-50 justify-content-end">3:00PM</span>
            </div>

        </div>

        <div class="row align-items-center justify-content-start flex-row-reverse">
            <div class="chat col-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Et ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Elit ut aliquam purus sit amet luctus venenatis lectus. Tincidunt vitae semper quis lectus nulla at.
            
                <span class="row form-floating me-3 text-black-50 justify-content-end">3:00PM</span>
            </div>

        </div>
    </div>


    <form method="post" class="position-fixed bottom-0 w-75">
        <div class="row p-3 mt-4 py-2" >
            <div class="form-floating col-11" >
                <input class="form-control border-0 shadow bg-dark text-white" />
            </div>
            <button type="submit" class="btn btn-primary col-1">Send</button>
        </div>
    </form>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>